/* STYLE SECTIONING TAGS */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #fdf0d5;
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  color: #bde0fe;
}

h2 {
  margin-top: 2em; 
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
  /* justify-content: center; */
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
}

header{
  background-color: #003049;
  padding: 20px;
  color: #bde0fe;
  font-size: 20px;
}

head{
  background-color: #003049;
}
body{
  color: #003049;
}
#q1a1{
  background-color: #bde0fe;
  font-size: 20px;
  color: #003049;
  padding: 5px;
}
#q1a2{
  background-color: #bde0fe;
  font-size: 20px;
  color: #003049;
  padding: 5px;
}
#q2a1{
  background-color: #bde0fe;
  font-size: 20px;
  color: #003049;
  padding: 5px;
}
#q2a2{
  background-color: #bde0fe;
  font-size: 20px;
  color: #003049;
  padding: 5px;
}
#q3a1{
  background-color: #bde0fe;
  font-size: 20px;
  color: #003049;
  padding: 5px;
}
#q3a2{
  background-color: #bde0fe;
  font-size: 20px;
  color: #003049;
  padding: 5px;
}
#restart{
  background-color: #bde0fe;
  font-size: 20px;
  color: #003049;
  padding: 5px;
}